@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.container{
    width: 95%;
} 

/* navbar */
ul {
    list-style-type: none;
    padding-top: 40px;
    
}
nav {
    display: flex;
    justify-content: flex-end; 
    padding-inline:5%;
}
nav ul li {
    display: inline; 
    margin-right: 40px; 
}
nav ul li a {
    text-decoration: none; 
    color: #000000; 
    font-size: 20px;
}
nav ul li a i {
    margin-right: 10px; 
    
}
nav ul li a.active {
    color: #ff0000;  

}
nav ul li a:hover {
    color: #ff0000; /* Change color on hover */
}


/* end navbar */







/* header */
header { 
    padding-top: 7%;
    padding-inline: 13%;
    display: flex;
}

.header-left {
    flex: 1;  
    font-size: 20px; 
}

.header-text  {
    width: 87%;   
}

.header-text h1{
    color: #379ec4;
}

.header-text h1 span{
    color: #ff0000;
}

.header-text p{
    font-size: 25px;
    color: #379ec4;
    margin-top: 0px;   
}

.header-text p.para{
    font-size: 20px;
    color: #000000 ;
    padding-bottom: 10%;
   
}
.header-text p.para span{
    color: #379ec4;
    cursor: pointer;
}


.buttons button {
    background-color: #379ec4; 
    color: #fff; 
    padding: 7px 17px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 5px 4px 0px #379ec463; /* Black box shadow */

    
}
.buttons button.btn {
    background-color: #ffffff; 
    color: #379ec4; 
    border: 2px solid #5e89be;
}

.header-right {
    flex: 1; 
    text-align: right; 
}


.header-right img {
    max-width: 70%; 
    border-bottom-left-radius: 50%;
    box-shadow: -34px 16px 0px -15px #51a9c9;
   

}

/* End header */



@media screen and (max-width:991px){

    nav ul li a {
        font-size: 13px;
    }

    .header-text p{
        font-size: 17px;
    }

    .header-text h1{
        font-size: 27px;
    }

    .buttons button {
        font-size: 13px;
        margin-bottom: 10px;
    }

}